@charset "utf-8";
/*.............. fonts..............*/
@import url("https://use.typekit.net/xry1tvf.css");

/*.............. fonts..............*/

/*..............common styles..............*/

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #fff;
  font-family: "program-narrow", sans-serif;
  scroll-behavior: smooth;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
  font-weight: 400;
  font-family: "program-narrow", sans-serif;
  line-height: 1.1;
}
h1 {
  font-size: 65px;
}
h2 {
  font-size: 65px;
}
h3 {
  font-size: 38px;
}
/*h4{ font-size:23px;}
h5{ font-size:24px;}
h6{ font-size:18px;}*/
/*font-family: aktiv-grotesk-condensed, sans-serif;*/
p {
  font-size: 24px;
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
  line-height: 1.4;
  font-weight: 300;
}
img {
  max-width: 100%;
}
a,
img {
  border: 0;
  text-decoration: none;
  outline: none;
  color: #fff;
}
a:visited,
a:focus,
a:hover {
  color: #70873a;
  outline: none;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

input,
textarea,
select {
  font-weight: 400;
  font-size: 16px;
  outline: none;
  width: 100%;
  padding: 13px 10px;
  border: none;
  color: #777777;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid #a9a8a8;
}
input[type="submit"] {
  border-radius: 0;
  padding: 18px 25px;
  font-size: 27px;
  max-width: 240px;
  margin-top: 30px;
}
dl,
ol,
ul {
  margin: 0;
  padding: 0;
}
input[type="submit"]:hover {
  background-color: #36e52c;
}
label {
  font-weight: 500;
}

/* --- for placeholder color --- */
::-moz-placeholder {
  color: #777777;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #777777;
}
::-webkit-input-placeholder {
  color: #777777;
}
/* --- for placeholder color --- */

/* --- Button Styles --- */
.btn,
a.btn {
  text-transform: uppercase;
  position: relative;
  border: none;
  color: #ffffff;
  border: 1px solid #36e52c;
  padding: 18px 25px;
  font-size: 27px;
  line-height: 1;
  border-radius: 0;
  background-size: 205% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  min-width: 200px;
  width: 100%;
}
.btn:focus,
.btn:hover,
.btn:focus,
a.btn:focus,
a.btn:hover,
a.btn:focus {
  color: #fff !important;
  background-position: left bottom;
}
a.btn:focus {
  outline: none;
  border: 0;
}

.btn:hover,
a.btn:hover {
  background: #36e52c;
  border-color: #fff;
}

.btn.no-ls {
  letter-spacing: normal;
}

.btn.round {
  border-radius: 50px;
  padding: 16px 30px 16px;
}

.btn.btn-red {
  border: 1px solid #e21010;
}
.btn.btn-red:hover {
  background-color: #e21010;
}
/* --- Button Styles --- */

/*..............common styles..............*/

*:not(svg):not(path):not(.resp-tab-content):not(.wow):not(body):not(.slick-track):not(.mCSB_container):not(.mCSB_dragger_bar) {
  transition: 250ms ease-in;
}

.cmn_pad {
  padding-top: 70px;
  padding-bottom: 80px;
}

.overflow_hidden {
  overflow: hidden;
}

.has-underline * {
  position: relative;
  padding-bottom: 8px;
  display: inline-block;
}
.has-underline *:after {
  content: "";
  position: absolute;
  bottom: 2px;
  width: 100%;
  height: 1px;
  background-color: #36e52c;
  left: 0;
  right: 0;
}
.has-underline.white *:after {
  background-color: #ffffff;
}
.has-underline.center *:after {
  left: 50%;
  transform: translateX(-50%);
}

/*for header css*/
.common-px {
  padding-left: 70px;
  padding-right: 70px;
}

.nav_btn,
.nav_close,
.mobile_logo {
  display: none;
}
.home header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

header {
  padding: 10px 70px;
  padding-bottom: 15px;
  z-index: 999;
}
/*header .logo_box img { width: 110px; height: auto; transition: none !important; margin-right: 125px;  }*/
header .logo_box img {
  width: 110px;
  height: auto;
  transition: none !important;
  margin-right: 0px;
}
header.header-is-fixed .logo_box img {
  width: 80px;
}

.all_menu_wrap {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  align-items: center;
}
.header-bottom img {
  width: 100%;
  max-height: 65px;
  object-fit: cover;
}

.header_menu ul {
  display: flex;
  list-style: none;
}
.header_menu ul li:not(:last-child) {
  margin-right: 40px;
}
.header_menu ul li {
}
.header_menu ul li a {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
}
.header_menu ul li a:hover {
  color: #36e52c;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
  }
}

header .menu-container {
  margin-top: 15px;
  transition: none !important;
}

body header .menu-container.hdr_fix {
  margin-top: 0px;
  background: #212121;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 70px;
  padding-right: 70px;
}
body .hdr_fix {
  background: #fff;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1999;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  animation: slide-down 0.7s;
  -ms-animation: slide-down 0.7s;
  -webkit-animation: slide-down 0.7s;
}
body .hdr_fix .logo_box img {
  max-width: 260px;
}

.header-top ul li {
  display: inline-flex;
}
.header-top ul li a {
  color: #979797;
  font-size: 19px;
  position: relative;
}
.header-top ul li:not(:last-child) a {
  padding-right: 40px;
}
.header-top ul li:not(:last-child) a:after {
  position: absolute;
  content: "";
  height: calc(100% - 10px);
  background: #979797;
  width: 2px;
  right: 20px;
  top: 5px;
}
.header-top ul {
  list-style: none;
  display: block;
  width: auto;
}
.header-top ul li a:hover {
  color: #36e52c;
}

.left_menu_wrap .left_menu ul li a {
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  border: 1px solid #36e52c;
  padding: 10px 25px;
  display: block;
  line-height: 1;
}
.left_menu_wrap .left_menu ul li:not(:last-child) {
  margin-right: 10px;
}
.left_menu_wrap .left_menu ul li a:hover {
  background: #36e52c;
  border-color: #fff;
}

.social_menu ul {
  display: flex;
}
.social_menu ul li:not(:last-child) {
  margin-right: 20px;
}
.social_menu ul li a {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #36e52c;
  padding: 7px;
}

.left_menu_wrap .left_menu ul li.current-menu-item a {
  background: #36e52c;
  border-color: #fff;
}

#nav-icon {
  display: none;
  transition: none !important;
  display: none;
  width: 40px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  position: absolute;
  left: 40px;
  top: 31px;
  height: 20px;
  cursor: pointer;
  z-index: 200;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #36e52c;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 6px;
}

#nav-icon span:nth-child(2) {
  top: 10px;
}

#nav-icon span:nth-child(3) {
  top: 26px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#nav-icon.open {
  position: fixed;
  top: 94px;
  height: 42px;
}

.header-body-fixed {
  margin-top: 100px;
}

/*for header css*/

/*Banner section css*/

.banner_sec {
  height: 100vh;
  overflow: hidden;
  min-height: 720px;
  position: relative;
}
.banner_sec > div {
  line-height: 1;
}

.banner_sec .slick-prev {
  left: 200px;
  width: 60px;
  height: 120px;
  background: rgba(0, 0, 0, 0);
  z-index: 5;
  background-image: url("../images/slider-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.banner_sec .slick-next {
  right: 200px;
  width: 60px;
  height: 120px;
  background: rgba(0, 0, 0, 0);
  z-index: 5;
  background-image: url("../images/slider-arrow-1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.slick-prev::before {
  display: none;
}
.slick-next::before {
  display: none;
}

.banner_image {
  position: relative;
  height: 100vh;
  min-height: 720px;
}
.banner_image:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
}
.banner_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner_holder {
  position: relative;
}

.banner_text {
  position: absolute;
}
.banner_text {
  width: 100%;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}

.banner_text h1 {
  color: #36e52c;
  font-weight: 500;
  margin-bottom: 25px;
}
.banner_text p {
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 30px;
  line-height: 1.1;
  font-family: "program-narrow", sans-serif;
}
.banner_text .btn {
  font-size: 27px;
  max-width: 243px;
  width: 100%;
}

.banner-inner-content {
  display: flex;
  align-items: center;
}
.banner-inner-content .banner-icon {
  width: 294px;
  flex: 0 0 294px;
  margin-right: 45px;
}

.hero-banner-social {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 100%;
}
.hero-banner-social ul {
  justify-content: center;
  list-style: none;
  margin-right: 20px;
}
/*Banner section css*/

/*============================= About Us Page ================================*/
body:not(.home) {
  position: relative;
}
.page-bg-holder {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.page-bg-holder:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.page-bg-holder img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header-bottom-section {
  margin-top: 45px;
}

.header-bottom-section h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.header-bottom-section .btn {
  max-width: 240px;
  width: 100%;
}
.header-bottom-section .row {
  align-items: flex-end;
}

.about-content-icon img {
  max-width: 105px;
  margin-bottom: 25px;
}
.about-us-content p {
  font-family: aktiv-grotesk-condensed, sans-serif;
  color: #dbdbdb;
}
.about-us-content p strong {
  font-weight: bold;
}

.quote-link h3 {
  font-size: 65px;
  color: #36e52c;
  line-height: 1.1;
}

.header-bottom-section {
  margin-bottom: 60px;
}

.quote-link {
  margin-top: 40px;
  margin-bottom: 40px;
}
.page-social-section {
  position: static;
  padding-bottom: 20px;
  margin-top: 160px;
}
/*============================= About Us Page ================================*/

/*============================= Staking 1 Page ================================*/
.green-box-section {
  border: 1px solid #36e52c;
  border-radius: 15px;
  padding: 35px;
}
.green-box-section .text-green h3 {
  margin-bottom: 15px;
}
.text-green * {
  color: #36e52c;
}
.text-green {
  color: #36e52c;
}
.nfy-balance-box p {
  font-size: 27px;
  margin-bottom: 0;
  flex: 0 0 100px;
  margin-left: 25px;
}
.nfy-balance-box .input-holder {
  position: relative;
}
.nfy-balance-box label {
  position: absolute;
  font-size: 16px;
  left: 10px;
  top: 5px;
  font-weight: 400;
  margin-bottom: 0;
  letter-spacing: 1px;
}
.nfy-balance-box input:not([type="submit"]) {
  margin-bottom: 0;
  border: 1px solid #36e52c;
  border-radius: 10px;
  padding: 20px 20px 5px 40px;
  font-size: 40px;
  color: #fff;
  line-height: 1;
}

.nfy-balance-box-inner,
input.nfy-balance-box-inner {
  max-width: 425px;
  margin-left: auto;
  margin-right: auto;
}

.submit-nfy-stake {
  min-width: auto;
  margin-bottom: 0;
}
.submit-left {
  margin-right: 30px;
}

#nfy-stake-details h3,
#lp-stake-details h3 {
  font-size: 27px;
}

.text-small {
  font-size: 27px;
  line-height: 0.8;
}

/*============================= Staking 1 Page ================================*/

.stake-box-inner {
  margin-top: 50px;
  margin-bottom: 60px;
}
.stake-section-box .stake-section-icon {
  margin-right: 30px;
  flex: 0 0 120px;
  width: 120px;
}
.stake-section-box .nfy-balance-box-inner {
  max-width: 100%;
}
.stake-section-box h3 {
  margin-bottom: 0;
}
.stake-section-box .input-holder {
  text-align: left;
}
.stake-btn-section .btn {
  width: calc(50% - 10px);
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.claim-rewards-modal .modal-dialog {
  max-width: 666px;
}
.claim-rewards-modal .modal-dialog .modal-content {
  background-color: #161616;
  border: 1px solid #fff;
  border-radius: 0;
}
.claim-rewards-modal .stake-box-inner {
  margin-top: 0;
  margin-bottom: 20px;
}
.claim-rewards-modal .modal-body {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.claim-rewards-modal .left-col {
  text-align: right;
}
.claim-rewards-modal .left-col .arrow-icon {
  padding-right: 30px;
}
.claim-rewards-modal .right-col {
  text-align: left;
}
#stake-lp-div {
  display: flex;
  justify-content: center;
}
#stake-nfy-div {
  display: flex;
  justify-content: center;
}
.claim-rewards-modal .right-col .arrow-icon {
  padding-left: 30px;
}

.arrow-hoolder small {
  font-size: 12px;
  font-family: aktiv-grotesk-condensed, sans-serif;
  display: block;
  text-align: center;
  margin-top: 30px;
}
.arrow-hoolder .arrow-icon {
  width: 105px;
  display: inline-block;
  margin-bottom: 40px;
}

.arrow-hoolder > div {
  width: calc(50% - 20px);
  flex: 0 0 calc(50% - 20px);
}
.arrow-hoolder .btn {
  width: 100%;
}

.trade-box-section.green-box-section .text-green h3 {
  margin-bottom: 0px;
}
.trade-box-section.green-box-section {
  padding: 15px;
}
.sub-heading-trade h3 {
  font-size: 26px;
}
.trade-box-section .nfy-balance-box-inner {
  max-width: 100%;
}
.trade-box-section .input-holder {
  margin-bottom: 16px;
}
.trade-box-section label {
  color: #b7b7b7;
}
.red-heading {
  color: #e21010;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: -30px;
}
.red-heading.text-green {
  color: #36e52c;
  font-weight: 400;
}
.nfy-balance-box label.label-right {
  right: 10px;
  transform: none;
  left: inherit;
}
label.lb-eth {
  color: #5e5e5e;
}
label.lb-max {
  color: #fff;
}
.trade-box-section .nfy-balance-box input:not([type="submit"]) {
  padding-left: 60px;
}
.trade-input-col {
  border-right: 1px solid #296926;
}

.trade-box-section .nfy-balance-box {
  margin-top: 50px;
}

ul.three-col {
  display: flex;
  list-style: none;
  font-size: 18px;
}
ul.three-col li {
  flex: 0 0 33.33333%;
  width: 33.3333%;
  color: #b7b7b7;
}
ul.three-col.red li {
  color: #e21010;
  font-weight: 400;
}
ul.three-col.green li {
  color: #36e52c;
  font-weight: 400;
}
ul.three-col li:nth-child(2) {
  text-align: center;
}
ul.three-col li:last-child {
  text-align: right;
}
ul.three-col li:first-child {
  text-align: left;
}

.info-list-holder .heading .three-col li {
  color: #fff;
}
.info-list-holder .heading {
  border-bottom: 1px solid #296926;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.info-list-holder .heading.left-heading {
  margin-right: -30px;
  padding-right: 30px;
}
.info-list-holder .heading.right-heading {
  margin-left: -30px;
  padding-left: 30px;
}

.mCSB_scrollTools {
  right: -20px !important;
  width: 7px !important;
}
.mCSB_scrollTools * {
  transition: none !important;
}
.mCSB_scrollTools {
  opacity: 1 !important;
}
.mCSB_dragger_bar {
  display: none;
}
.mCSB_scrollTools {
  background-color: #161616;
}
.mCSB_dragger {
  background-color: #36e52c;
}
.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.info-list-holder {
  padding-right: 15px;
}

.trade-btn-holdder {
  margin-top: 20px;
  margin-bottom: 10px;
}

.trade-box-section .nfy-balance-box input:not([type="submit"]) {
  font-size: 30px;
}

.footer-bottom-text {
  margin-top: 20px;
}
.footer-bottom-text h3 {
  font-size: 27px;
  margin-bottom: 0;
}
/*Media Query css*/
@media only screen and (min-width: 1599px) {
  .container {
    max-width: 1130px;
  }
  .about-us-content .container {
    max-width: 1280px;
  }
  .container.big-container {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1700px) {
  .container {
    max-width: 1170px;
  }
  .about-us-content .container {
    max-width: 1280px;
  }
  .container.big-container {
    max-width: 1280px;
  }
}

@media only screen and (max-width: 1700px) {
  header .logo_box img {
    width: 104px;
  }
  .header-top ul li a {
    font-size: 17px;
  }
  .left_menu_wrap .left_menu ul li a {
    font-size: 15px;
  }
  .banner_sec .slick-prev {
    left: 150px;
  }
  .banner_sec .slick-next {
    right: 150px;
  }

  /*header .logo_box img { margin-right: 110px; }*/
  header .logo_box img {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 1599px) {
  .about-us-content p {
    font-size: 20px;
  }
  header {
    padding: 10px 30px;
  }
  .quote-link h3 {
    font-size: 50px;
  }
  .common-px {
    padding-left: 30px;
    padding-right: 30px;
  }

  .banner_sec .slick-next {
    right: 35px;
  }
  .banner_sec .slick-prev {
    left: 35px;
  }
  .banner_sec .slick-arrow {
    width: 45px;
    height: 90px;
  }

  /*header .logo_box img { margin-right: 100px; }*/
  header .logo_box img {
    margin-right: 0px;
  }
  .header-bottom-section {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1299px) {
  .hero_banner .container {
    max-width: 1010px;
  }
}

@media only screen and (max-width: 1199px) {
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 55px;
  }
  h3 {
    font-size: 35px;
  }

  .hero_banner .container {
    max-width: 960px;
  }
  .banner-inner-content .banner-icon {
    flex: 0 0 240px;
    width: 240px;
    margin-right: 35px;
  }
  .banner_text .container {
    padding-left: 80px;
    padding-right: 80px;
  }

  .banner_text p {
    font-size: 30px;
  }

  .banner_text h1 {
    margin-bottom: 15px;
  }

  .staking-one-box {
    padding-left: 15px;
    padding-right: 15px;
  }

  .staking-one-box .stake-section-box .stake-section-icon {
    flex: 0 0 100px;
    width: 100px;
  }
  .staking-one-box .stake-box-inner {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .staking-one-box .btn {
    font-size: 24px;
  }
  .staking-one-box .stake-btn-section .btn {
    margin-top: 20px;
  }

  .trade-btn-holdder .btn {
    width: 100%;
    min-width: 0;
  }
}

@media only screen and (max-width: 991px) {
  .quote-link h3 {
    font-size: 35px;
  }

  header .right_menu_wrap {
    display: none;
  }

  .menu-container {
    position: relative;
  }
  .nav_btn {
    display: block;
  }
  #nav-icon {
    display: block;
  }
  header .nav_btn {
    position: absolute;
    left: 40px;
    top: 40px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
  }
  header .nav_btn div {
    -webkit-box-shadow: 0px 15px 0px 0px #36e52c;
    -moz-box-shadow: 0px 15px 0px 0px #36e52c;
    box-shadow: 0px 15px 0px 0px #36e52c;
    width: 40px;
    height: 4px;
    background-color: #36e52c;
  }

  .nav_close {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;
    filter: brightness(5);
    font-size: 30px;
    color: #000;
  }

  header .left_menu_wrap {
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(22, 22, 22, 0.98);
    max-width: 365px;
    z-index: 150;
    width: 290px;
    max-width: 100%;
    overflow-x: hidden;
    transition: all 0.25s ease;
    height: 100%;
    transform: translateX(-300px);
  }
  header .left_menu_wrap ul {
    margin-top: 140px;
    display: block;
    padding-left: 40px;
    padding-right: 30px;
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  header .left_menu_wrap ul li {
    margin-right: 0;
    padding-top: 0;
  }
  header .left_menu_wrap ul li a {
    color: #fff;
  }

  header .left_menu_wrap.open {
    transform: translateX(00px);
  }

  header .logo_box img {
    max-width: 105px;
  }
  header {
    padding: 15px 0px;
  }

  header .logo_box img {
    margin-right: 20px;
  }

  .all_menu_wrap {
    justify-content: center;
  }
  .banner-inner-content {
    display: block;
    text-align: center;
  }

  .banner-inner-content .banner-icon {
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .banner_text {
    position: static;
    padding-top: 240px;
    transform: none;
    padding-bottom: 200px;
  }

  .banner_text p {
    font-size: 35px;
  }
  .banner_text p br {
    display: none;
  }

  .banner_sec {
    min-height: 100vh;
    height: auto;
  }

  .banner_sec .slick-next {
    top: 330px;
  }
  .banner_sec .slick-prev {
    top: 330px;
  }
  .header-top {
    padding-left: 15px;
    padding-right: 15px;
  }
  .banner_image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    z-index: -1;
    height: 100%;
  }

  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: inherit !important;
  }
  .slick-slide > div {
    height: 100% !important;
  }
  .slick-slide > div > .banner_holder {
    height: 100% !important;
  }

  .hero_banner {
    min-height: 100vh;
  }
  .slick-list {
    min-height: 100vh;
  }

  .left_menu_wrap .left_menu ul li a {
    border: none;
    font-size: 30px;
  }
  .left_menu_wrap .left_menu ul li a:hover,
  .left_menu_wrap .left_menu ul li.current-menu-item a {
    background-color: transparent;
    color: #36e52c;
  }
  .nav_close {
    color: #fff;
  }
  .left_menu_wrap .left_menu ul li a {
    padding-left: 0;
    margin-bottom: 15px;
  }

  .header-bottom-section .btn {
    max-width: 200px;
    padding: 12px 25px;
  }

  .green-box-section {
    margin-top: 40px;
  }

  .header-body-fixed header .logo_box img {
    margin-right: 0;
  }
  .header-body-fixed #nav-icon {
    top: 36px;
  }
}

@media only screen and (max-width: 767px) {
  .header-body-fixed {
    margin-top: 0;
  }
  header .logo_box img {
    margin-right: 0px;
  }
  .banner-inner-content .banner-icon {
    width: 155px;
  }
  .banner_text .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  header .nav_btn {
    left: 15px;
  }

  .banner_sec .slick-prev {
    left: 20px;
  }
  .banner_sec .slick-next {
    right: 20px;
  }

  .banner_sec .slick-arrow {
    width: 30px;
  }
  .hero-banner-social ul {
    margin-right: 0;
  }

  .header-bottom-section {
    display: none;
  }

  .about-us-content {
    margin-top: 80px;
  }
  .green-box-section {
    margin-top: 30px;
  }
  .stake-nfy-section {
    margin-top: 50px;
  }

  .green-box-section {
    padding-left: 15px;
    padding-right: 15px;
  }
  .green-box-section h3 {
    font-size: 30px;
  }
  .green-box-section .text-green h3 {
    margin-bottom: 10px;
  }
  .nfy-balance-box p {
    margin-left: 5px;
  }

  .staking-one-box .stake-btn-section {
    display: block !important;
  }

  .staking-one-box .stake-section-box .stake-section-icon {
    margin-right: 20px;
  }

  .claim-rewards-modal .modal-body {
    padding-left: 15px;
    padding-right: 15px;
  }
  .claim-rewards-modal .modal-body .nfy-balance-box .nfy-balance-box-inner {
    display: block !important;
    text-align: center;
  }
  .claim-rewards-modal .modal-body .nfy-balance-box .nfy-balance-box-inner input.hidden {
    display: none!important;
  }
  .claim-rewards-modal .stake-section-box .stake-section-icon {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .claim-rewards-modal .stake-section-box .input-holder {
    text-align: center;
  }

  .arrow-hoolder > div {
    width: 50%;
    flex: 0 0 50%;
  }
  .arrow-hoolder .btn {
    min-width: 0px;
    padding: 18px 15px;
    font-size: 24px;
  }

  .trade-box-section.green-box-section {
    padding-left: 0;
    padding-right: 0;
  }

  header .left_menu_wrap {
    width: 100%;
    transform: translateX(-100%);
  }
  header .left_menu_wrap.open {
    transform: translateX(00px);
  }

  .footer-bottom-text h3 {
    font-size: 19px;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 420px) {
  .staking-one-box .stake-box-inner > .input-holder > h3 > span.text-green {
    display: block;
  }
  .trade-box-section .nfy-balance-box .d-flex.nfy-balance-box-inner {
    display: block !important;
  }
  .trade-box-section .nfy-balance-box .d-flex.nfy-balance-box-inner .trade-input-col.border-0 {
    margin-top: 80px;
  }

  .info-list-holder .heading.left-heading {
    margin-right: 0px;
    padding-right: 0px;
  }
  .info-list-holder .heading.right-heading {
    margin-left: 0px;
    padding-left: 0px;
  }
}

@media only screen and (max-width: 359px) {
  .staking-one-box .stake-section-box .stake-section-icon {
    margin-right: 20px;
    flex: 0 0 60px;
  }

  .arrow-hoolder .btn {
    font-size: 20px;
  }

  .sub-heading-trade > h3 > span.text-green {
    display: block;
  }
}

.menu_is_open,
.menu_is_open body {
  overflow: hidden;
}
/*Media Query css*/

#nfy-deposit-page h3 {
  display: inline-block;
}

#nfy-deposit-page h3:first-child {
  padding-right: 10px;
}

#nfy-deposit-page h3:nth-child(2) {
  color: #e21010;
}

#nfy-deposit-page .input-holder.container {
  margin-bottom: 10px;
  text-align: center;
}

.nfy-balance-box .box-deposit-page input:not([type="submit"]) {
  padding: 24px 20px 5px 70px;
    font-size: 26px;
}

.toggle-button {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 28px;
  margin: 0;
  vertical-align: top;
  background: #36e52c;
  border: 1px solid #bbc1e1;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 20px 20px 5px 20px!important;
}
.toggle-button::after {
  content: "";

  display: inline-block;
  position: absolute;
  left: 3px;
  top: 1.5px;

  width: 23px;
  height: 23px;
  background-color: #bbc1e1;
  border-radius: 50%;
  border: 1px solid #fff;
}

.toggle-button:checked::after {
  transform: translateX(calc(100% + 15px));
  background-color: grey;
}
.toggle-button:checked {
  background-color: #e21010;
  border: 1px solid #e21010!important;
}

.select-box {
  height: 45px;
}

.asset-select {
  font-size: 26px;
  color: white;
  appearance: none;
  padding: 5px 10px;
}

.asset-select option {
  background-color: #212529;
}
.green-border {
  border: 1px solid #36e52c;
  border-radius: 10px;
}
#deposit-scrollbox {
  padding: 15px;
}
#deposit-scrollbox .three-col {
  padding: 0 30px 0 10px;
}

#deposit-scrollbox ul.three-col li {
  flex: 0 0 50%;
  width: 50%;
}

.scroll-box {
  overflow: auto;
  overflow-y: scroll;
  height: 120px;
  padding-right: 20px;
}
.scroll-box::-webkit-scrollbar {
  width: 8px;
}
.scroll-box::-webkit-scrollbar-track {

  background: #212529;
}
#deposit-scrollbox{
  min-height: 80px;
}

#deposit-scrollbox ul:hover{
  cursor: pointer;
}

.darker-title{
  opacity: 0.5;
}
.opacity{
  opacity: 0;
}
.hidden {
  display: none;
}
.margin-bottom {
  margin-bottom: 16px;
}
.scroll-box::-webkit-scrollbar-thumb {
  background: #36e52c;
  border-radius: 3px;
}

.order-input-area {
  border: 1px solid #36e52c;
  border-radius: 10px;
}
.order-input-area .input-holder input {
  border: none;
  display: inline-block;
  padding: 20px 0px 0px 40px;
  width: 40%;
}

.order-input-area .input-holder input:not([type="submit"]) {
  padding-left: 20px;
}

.order-input-area .input-holder label:nth-child(3) {
  left: 40%;
}

.order-input-area .input-holder label:last-child {
  left: 80%;
  color: red;
  cursor: pointer;
}

.order-input-area .input-holder {
  margin-bottom: 0;
}
.scroll-item-selected li{
  color: #36e52c !important;
}
.red-btn {
  border: 1px solid #e21010;
}

input.red-btn[type="submit"]:hover {
  background: #e21010;
}

